<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  
  <link rel="stylesheet" href="../Styles/Home/style.css">
  <title>Home</title>
</head>
<body>
  <header>
    <img src="./Images/carBanner.jpg" alt="banner carro"> 
    <nav>
      <a>Empresa</a>
      <a>Contato</a>
      <a href="../SignUp/index.html">Intranet</a>
    </nav>
  </header>

  <form name="form" method="POST" action="" enctype="multipart/form">
    <div id="search-wrapper">
      <input list="data" type="text" name="search" value="">
      <button type="submit" name="submit_button" value="submit">
        <img src="./Images/search.svg" alt="ícone de pesquisa">
      </button>
      <datalist id="data">
        <option value="teste">
        <option value="aaaaa">
        <option value="bbbbb">
        <option value="ccccc">
        <option value="ddddd">
      </datalist>
    </div>
    <nav id="search-nav">
      <button id="model-button-search-nav">Modelo</button>
      <button id="brand-button-search-nav">Marca</button>
    </nav>
  </form>
  
  <div class="middle-content-wrapper">
    <div class="middle-content"></div>
  </div>
</body>
</html>